.wsp-icon{
    width: 80px;
    height: 80px;
    z-index: 20;
    position: absolute;
    object-fit: cover;
    transition-duration: 1s;
    cursor: pointer;  
    right: 7vw; 
    transform: translateY(40vh);
}

.wsp-icon:hover{
    filter: brightness(70%);
}


@media screen and (max-device-width: 1100px) {
    .wsp-icon{
        transform: translateY(40vh);
        right: 2vw;
    }
}

@media screen and (max-device-width: 800px) {

    .wsp-icon{
        transform: translateY(390px);
        right: 0px; 
    }
}