.background-services{
    z-index: -10;
    position: absolute;
    width: 100vw;
    height: 1000px;
}

.service-background{
    z-index:-10;
    position: absolute;
}

.service-background-1{
    height: 180vh;
    width: 100%;
    object-fit: cover;
}
.service-background-2{
    height: 75vh;
    width: 100%;
}
.service-background-3{
    height: 180vh;
    width: 100%;
}

.service{
    color: #676c6c;
    margin-top: 10vh !important;
    margin-bottom: 20vh !important;
}

.service-img{
    width: 45vw;
    height: 60vh;
    object-fit: cover;
}

.service-text{
    width: 45vw;
    height: 60vh;
}

.fingerprint-img-services{
    width: 7vw;
}

h4{
    /* width: 350px; */
}

.services{
    height: 1000px;
}

.services p{
    margin: 0px;
    width: 400px;
}



@media screen and ( max-device-width: 1500px ) {

    /* .services h3{
        font-size: 17px !important;
    } */

    .services-items h4{
        font-size: 23px;
        height: 50px;
        margin: 20px 0px;
    }

    .services p{
        margin: 0px;
        width: 300px;
    }

    .services{
        height: 1500px;
    }

    .services-items{
        margin: 50px 0px;
        width: 40vw !important;
        height: 350px;
    }

    .background-services{
        height: 1500px;
    }
    
}

@media screen and ( max-device-width: 1000px ) {

    .services{
        justify-content: space-around !important;
        height: 1500px;
    }

    .fingerprint-img-services{
        width: 100px;
    }
    
    .services-items{
        height: 350px;
    }

    .services p{
        font-size: 15px;
    }

    .background-services{
        height: 1500px;
    }

}

@media screen and ( max-device-width: 800px ) {

    .services-items{
        width: 100vw !important;
        height: 300px;
    }

    .services{
        height: 2300px;
    }

    .background-services{
        height: 2300px;
    }
}