.background-contact{
    z-index: -100;
    height: 150vh;
    transform: translateY(-50px);
    position: absolute; 
    width: 100vw;
}

.background-contact img{
    width: 100%;
    height: 100%;
}

.contact{
    height: 100vh;
    color: #676c6c;
    margin-top: 250px;
}

@media screen and ( max-device-width: 1500px ) {
    .background-contact{
        height: 1100px;
        width: 100vw;
    }
}

@media screen and ( max-device-width: 1000px ) {

    .contact h3{
        font-size: 20px;
    }

    .contact b{
        font-size: 15px;
    }

    .contact{
        height: 900px;
        flex-direction: column;
    }

    .sendemail, .info{
        width: 80vw;
    }

    .sendemail{
        height: 550px;
        margin: 20px 0px;
    }

    .sendemail form{
        height: 550px;
    }

    .map{
        display: none;
    }

    .contact-info{
        padding: 10px 20px !important;
        height: 250px;
        margin: 5px 0px;
    }

    .background-contact{
        height: 1200px;
        width: 100vw;
        transform: translateY(-100px);
    }

}