.background-contact{
    z-index: -10;
    /* width: 100vw; */
    height: 150vh;
    top: 410vh;
    position: absolute; 
}

.contact{
    color: #676c6c;
    margin-top: 30vh;
}

@media screen and ( max-device-width: 1500px ) {

    .background-contact{
        top: 510vh;
    }
    

}