.input-assistance{
    background-color: rgb(255, 255, 255, 0) !important;
    border-radius: 50px !important;
    padding: 5px 30px !important;
    border: 2px solid #1681b3 !important;
    width: 20vw !important;
    height: 50px !important;
    text-align: center;
    margin-top: 50px;
}

.input-assistance::placeholder{
    font-size: 15px;
    text-align: center;
    font-style: italic;
}

.assistence-background{
    z-index: -10;
    position:absolute;
}
.assistance-img{
    position:absolute;
    z-index: -9;
    width: 100vw !important;
    height: 120vh !important;
}

.assistance-logo{
    width: 25vw;
    height: 40vh;
}

.assistance-logo h5{
    color: white;
    font-size: 25px;
}
.assistance{
    height: 100vh !important;
}

btn{
    margin: 20px auto;
}
