.input-assistance{
    background-color: rgb(255, 255, 255, 0) !important;
    border-radius: 50px !important;
    padding: 5px 30px !important;
    border: 2px solid #1681b3 !important;
    width: 20vw !important;
    height: 50px !important;
    text-align: center;
    margin-top: 50px;
}

.input-assistance::placeholder{
    font-size: 15px;
    text-align: center;
    font-style: italic;
}

btn{
    margin: 20px auto;
}
