.home{
    height: 200vh;
    color: #676c6c;
}

.container {
    text-overflow: "-";
    width: 740px;
}


.container h1{
    font-weight: bolder;
}

.container p{
    font-size: 20px;
    font-weight: 400;
}


.home-wallpaper{
    object-fit: cover;
    height: 110vh;
    width: 100%;
}

.huella-logo-wallpaper{
    top: 950px;
    position: absolute;
    right: 0px;
}

.arrow{
    color: #0074a2;
    height: 70px;
}

@media screen and ( max-device-width: 1300px ) {
    .container {
        width: 50vw;
    }
    .container p{
        font-size: 15px;
    }

    .huella-logo-wallpaper{
        top: 600px;
        width: 50vw
    }
}