body{
    /* overflow-x: hidden; */
    background-color: #c6c8c8;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body h1, h2{
    font-family: 'Roboto Slab', serif;
}

.hover :hover{
    color:#14739F;
}