.background-services{
    z-index: -10;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

@media screen and ( max-device-width: 1500px ) {
    .service-box-description img{
        width: 70px;
    }
}