.clientes{
  margin-top: 100px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clientes h1{
  margin: 100px;
}

.slick-slider{
  width: 80vw;
}

.slick-slider button{
  width: 30px;
  height: 30px;
  font-size: 0px;
  transform: none;
}

.slick-prev:before,
.slick-next:before {
  position: relative;
  color: rgb(121, 121, 121);
  font-size: 50px;
  pointer-events: none;
}

.slick-next:hover,
.slick-prev:hover{
    transform: none;
    box-shadow: none;
    margin: none;
    padding: none;
}

.slick-next{
    right: -70px;
}

.slick-prev{
  left: -70px;
}

.box-client{
  display: flex;
  justify-content: center;
  transition-duration: all 1s;
}

.client{
  margin: 5px 0px;
  padding: 20px;
  width: 300px;
  height: 300px;
  outline: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-decoration: none;
  transition-duration: all 10s;
}

.client h4{
  display: none;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  position: absolute;
  bottom: -100px;
  border-top: 1px solid rgba(0, 0, 0, 0.158);
}

.client:hover > img{ 
  filter: blur(3px);
}

.client:hover > h4{ 
  display: flex;
  bottom: 0px;
}

@media screen and (max-device-width: 1000px) and (max-width: 1000px){

  .clientes{
    display: flex;
    flex-direction: column;      
    margin-top: 100px;
    margin-bottom: 100px;
}

.client{
    margin: 1px ;
    padding: 0px ;
    width: 30vw ;
    height: 30vw ;
}



.client img{
    width: 70% !important;
}

.client h4{
    visibility: hidden !important;
}

.client:hover > img{ 
    filter: none !important;
}

.clientes h1 {
  margin: 2px;
}


.slick-slider{
    width: 80vw !important;
    height: 30vw !important;
}

.slick-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
}
  .clientes{
      position: relative;
      margin: 0px 0px 500px 0px;
      top:200px;
  }


  .slick-next{
    right: -30px;
  }

  .slick-prev{
    left: -30px;
  } 

  .slick-prev:before,
  .slick-next:before{
      font-size: 30px !important;
  }
}