.contacto{
    flex-direction: row-reverse;
    align-items: center;
}


.background-image{
    background-image: url("../../assets/sertic_fondo.jpeg");
    filter: blur(4.5px);
    -webkit-filter: blur(4.5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 47vw;
    height: 90vh;
}

.form-container {
    outline: 1.8px solid rgb(95, 95, 95);
    position: absolute;
    width: 47vw;
    height: 90vh;   
}

.form-container form input,
.form-container form textarea {

    width: 100%;
    margin: 2vh;
    transition: all 300ms;
    background: rgba(233, 232, 232, 0.8); 
    border-color:rgb(134, 134, 134);
    color:rgb(0, 0, 0);
    font-size:20px;
    
}

textarea{
    resize: none;
    height: 30vh;
}

.form-container form input:focus,
.form-container form textarea:focus {
    border-color:#00ADEE ;
}

@media screen and (max-device-width: 1300px) and (max-width: 1300px) {

    .contacto{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .form-container {
        width: 90vw;
    }
    .background-image{
        width: 89vw;
    }
}

