.footer-above {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-columns {
    text-align: center;
    width: 300px;
    padding-bottom: 30px;
}


.icons {
    margin-right: 10px;
    margin-left: -10px;
    color: #1ce
}

.footer-info {
    padding: 5px;
    font-size: 1.3em;
    line-height: 1.5em;
}

.footer-below {
    font-size: .9em;
    text-align: center;
    padding: 25px;
}


.navegacion-responsive {
    display: none;
}

