.navbar{
    transition-duration: all 2s;
    font-size: 1.3em;
}

.navbar .navbar-nav .nav-link:hover {
    color: #1ce;
}

.dark-light{
    font-size: 1.3em;
    position: absolute;
    right: 150px;
    bottom: 2px;
}

.dark-light:hover{
    color: #00ADEE;
    cursor: pointer;
}

.language {
    padding-right: 40px;
    font-size: 1em;
    position: absolute;
    right: 10px;
    top: 5px;
}

.language p{
    padding: 0px 5px;
}

.language p:hover{
    color: #00ADEE;
    cursor: pointer;
}


@media screen and (max-device-width: 1000px) and (max-width: 1000px) {
    .language {
        margin: 0px !important;
        position: relative;
        right: 5px;
    }
    .dark-light{
        margin: 0px !important;
        position: 0px !important;
        position: relative;
        right: 0px;
        bottom: 0px;
    }
}