.nosotros p{
    width: 75vw;
}

.img-hector{
    width: 20vw;
}

.sertic-img{
    width: 50vw;
    height: 400px;
}

.sertic-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-device-width: 1300px) {
    .nosotros p {
        font-size: 1.2rem;
        width: 80vw;
    }
    .img-hector{
        width: 30vw;
    }
} 
@media screen and (max-device-width: 1000px) {
    .sertic-img{
        width: 60vw;
    }

    .img-hector{
        width: 35vw;
    }

}
@media screen and (max-device-width: 700px) and (max-width: 700px){
    .nosotros p{
        font-size: 1rem;
    }

    .img-hector{
        width: 50vw;
    }

    .sertic-img{
        width: 80vw;
    }
}



