.identity{
    height: 900px;
    color: #676c6c;
}

.our-identity-container{
    margin: 50px;
}

.container {
    text-overflow: "-";
    width: 740px;
}


.container h2{
    font-weight:500;
}

.container h5{
    font-size: 30px;
}

.container p{
    font-size: 25px;
    font-weight: 400;
}


.identity-wallpaper{
    object-fit: cover;
    /* height: 100vh; */
    width: 100%;
}

.fingerprint-logo-wallpaper{
    width: 35vw;
    top: 110vh;
    position: absolute;
    right: 0px;
}

.identity-img{
    width: 80px;
    height: 80px;
}

@media screen and ( max-device-width: 2500px ) {

    .fingerprint-logo-wallpaper{
        top: 1200px;
    }

}

@media screen and ( max-device-width: 2000px ) {

    .fingerprint-logo-wallpaper{
        top: 1000px;
    }    

}

@media screen and ( max-device-width: 1500px ) {

    .identity{
        height: 800px !important;
    }

    .container {
        padding: 0px !important;
        margin: 50px !important;
    }

    .huella-logo-wallpaper{
        top: 600px;
        width: 50vw
    }

    .identity-img{
        width: 60px;
        height: 60px;
    }

    .arrow{
        height: 40px;
    }

    .fingerprint-logo-wallpaper{
        top: 1000px;
    }  

    .container h5{
        font-size: 22px;
    }
    
    .container p{
        font-size: 17px;
        font-weight: 400;
    }
}

@media screen and ( max-device-width: 1100px ) {

    .identity-img{
        width: 30px;
        height: 30px;
        margin-right: 10px !important;
    }

    .identity{
        flex-direction: column;
        height: 1300px !important;
    }

    .list-members{
        margin: 0px !important;
    }

    .container {
        padding: 0px !important;
        width: 80vw;
    }

    .fingerprint-logo-wallpaper{
        width: 50vw;
        top: 1300px;
        right: 0px;
    }

}

@media screen and ( max-device-width: 600px ) {

    .fingerprint-logo-wallpaper{
        width: 50vw;
        top: 950px;
        position: absolute;
        right: 0px;
    }

    .our-identity-container{
        margin: 20px;
    }

    .identity{
        height: 1000px !important;
    }

}