.list-members{
    margin-top: 20vh;
    width: 50%;
}

.members p{
    width: 200px;
}

.members{
    height: 100%;
    width: 100%;
}

.member{
    position: relative;
}

.members p{
    width: 400px;
}

.size-1 img{
    width: 500px;
}

.size-2 img{
    width: 350px;
}

.size-3 img{
    width: 270px;
}

.size-4 img{
    width: 250px;
}


@media screen and ( max-device-width: 1100px ) {

    .member{
        /* width: 100vw; */
    }

    .members p{
        width: 30vw;
    }

    .members{
        height: 100vh;
        width: 100%;
    }

    .list-members{
        width: 100vw;
    }

}