.list-members{
    width: 50%;
}

.members p{
    width: 200px;
}

.members{
    height: 100%;
    width: 100%;
}

.member{
    position: relative;
}

@media screen and ( max-device-width: 1100px ) {

    .member{
        /* width: 100vw; */
    }

    .members p{
        width: 30vw;
    }

    .members{
        height: 50vh;
        width: 100%;
    }

    .list-members{
        width: 100vw;
    }

}