.list-members{
    width: 50%;
}

.list-members .slick-list{
    height: 100vh;
}

.members p{
    text-align: center;
    font-size: 15px;
    width: 200px !important;
}

.members{
    height: 100%;
    width: 50vw;
}

.member{
    position: relative;
}

.member-img img{
    margin: 0px;
}

.member-img{
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
}

.members p{
    width: 400px;
}

.size-1 .member-img{
    width: 500px;    
    height: 500px;
}

.size-1 .member-img img{
    width: 650px;    
    height: 650px;
    transform: translate(-70px, -70px);
}

.size-2 .member-img{
    width: 350px;    
    height: 350px;
}

.size-2 .member-img img{
    width: 455px;    
    height: 455px;
    transform: translate(-50px, -50px);
}

.size-3 .member-img{
    width: 270px;    
    height: 270px;
}

.size-3 .member-img img{
    width: 370px;    
    height: 370px;
    transform: translate(-50px, -50px);
}

.size-4 .member-img{
    width: 250px;    
    height: 250px;
}

.size-4 .member-img img{
    width: 350px;    
    height: 350px;
    transform: translate(-50px, -50px);
}

.size-1{
    top:100px;
}

.size-2-member-1{
    top: 200px;
}
.size-2-member-2{
    top: 100px;
}

.size-3-member-1{
    top: 200px;
    left: 0px;
}
.size-3-member-2{
    top: 100px;
}
.size-3-member-3{
    top: 150px;
    right: 0px;
}

.size-4-member-1{
    top: 50px;
    left: 290px;
}
.size-4-member-2{
    top: 370px;
    left: 150px;
}
.size-4-member-3{
    top: 270px;
    right: 430px;
}
.size-4-member-4{
    top: 120px;
    right: 120px
}



@media screen and ( max-device-width: 1500px ) {

    .list-members{
        margin-top:50px;
    }

    .size-1 .member-img{
        width: 300px;        
        height: 300px;
    }
    .size-1 .member-img img{
        width: 400px;    
        height: 400px;
        transform: translate(-50px, -50px);
    }
    
    .size-2 .member-img{
        width: 250px;        
        height: 250px;
    }
    .size-2 .member-img img{
        width: 350px;    
        height: 350px;
        transform: translate(-50px, -50px);
    }
    
    .size-3 .member-img{
        width: 180px;        
        height: 180px;
    }
    .size-3 .member-img img{
        width: 250px;    
        height: 250px;
        transform: translate(-30px, -35px);
    }

    .size-4 .member-img{
        width: 170px;        
        height: 170px;
    }
    .size-4 .member-img img{
        width: 250px;    
        height: 250px;
        transform: translate(-40px, -40px);
    }

    .size-3-member-1{
        top: 200px;
        left: 20px
    }
    .size-3-member-2{
        bottom: 0px;
        right: 20px;
    }
    .size-3-member-3{
        top: 150px;
        right: 20px
    }

    .size-4-member-1{
        top: 0px;
        left: 250px
    }
    .size-4-member-2{
        top: 270px;
        left: 130px
    }
    .size-4-member-3{
        top: 170px;
        right: 290px
    }
    .size-4-member-4{
        top: 100px;
        right: 120px
    }

}


@media screen and ( max-device-width: 1100px ) {

    .list-members .slick-slider{
        height: 700px;
        width: 95vw !important;
    }
    
    .member{
        width: 100vw;
    }

    .members{
        width: 100vw;
    }
    .members p{
        width: 30vw;
    }

    .list-members .slick-list{
        height: 100vh;
    }

    .list-members{
        width: 100vw;
    }

    .size-1 .member-img{
        width: 400px;        
        height: 400px;
    }
    .size-1 .member-img img{
        width: 515px;    
        height: 515px;
        transform: translate(-55px, -55px);
    }
    
    .size-2 .member-img{
        width: 300px;        
        height: 300px;
    }
    .size-2 .member-img img{
        width: 405px;    
        height: 405px;
        transform: translate(-50px, -50px);
    }
    
    .size-3 .member-img{
        width: 230px;        
        height: 230px;
    }
    .size-3 .member-img img{
        width: 310px;    
        height: 310px;
        transform: translate(-35px, -40px);
    }
    
    .size-4 .member-img{
        width: 200px;        
        height: 200px;
    }
    .size-4 .member-img img{
        width: 280px;    
        height: 280px;
        transform: translate(-40px, -40px);
    }

    .size-2-member-1{
        left: 50px;
        top: 100px;
    }
    .size-2-member-2{
        right: 50px;
        bottom: 0px;
    }
    
    .size-3-member-1{
        top: 200px;
        left: 50px
    }
    .size-3-member-2{
        top: 0px;
        right: 30px;
    }
    .size-3-member-3{
        top: 100px;
        right: 50px
    }
    
    .size-4-member-1{
        top: 0px;
        left: 35vw
    }
    .size-4-member-2{
        top: 250px;
        left: 22vw
    }
    .size-4-member-3{
        top: 200px;
        right: 35vw
    }
    .size-4-member-4{
        top: 100px;
        right: 70px
    }

}

@media screen and ( max-device-width: 800px ) {


    .list-members .slick-list, .list-members .slick-slider{
        height: 500px;
    }

    .members p{
        max-width: 100px;
    }

    .size-1 p{
        max-width: 200px !important;
    }
    
    .size-2 .member-img{
        width: 35vw;        
        height: 35vw;
    }
    .size-2 .member-img img{
        width: 45vw;    
        height: 45vw;
        transform: translate(-5vw, -5vw);
    }    
    
    .size-3 .member-img{
        width: 25vw;        
        height: 25vw;
    }
    .size-3 .member-img img{
        width: 35vw;    
        height: 35vw;
        transform: translate(-5vw, -5vw);
    }    
    
    .size-4 .member-img{
        width: 140px;        
        height: 140px;
    }
    .size-4 .member-img img{
        width: 195px;    
        height: 195px;
        transform: translate(-25px, -25px);
    }    

    .size-2-member-1{
        top: 100px;
    }
    .size-2-member-2{
        bottom: 0px;
    }
    
    .size-3-member-1{
        top: 100px;
        left: 7vw;
    }
    .size-3-member-2{
        top: 0px;
        right: 3vw;
    }
    .size-3-member-3{
        top: 50px;
        right: 7vw
    }
    
    .size-4-member-1{
        top: 0px;
        left: 35vw
    }
    .size-4-member-2{
        top: 250px;
        left: 17vw
    }
    .size-4-member-3{
        top: 170px;
        right: 40vw
    }
    .size-4-member-4{
        top: 100px;
        right: 10vw
    }

}

@media screen and ( max-device-width: 500px ) {


    .list-members .slick-list, .list-members .slick-slider{
        height: 500px;
    }

    .size-4 .member-img{
        width: 30vw;        
        height: 30vw;
    }
    .size-4 .member-img img{
        width: 45vw;    
        height: 45vw;
        transform: translate(-7vw, -7vw);
    }

    .size-1 .member-img{
        width: 65vw;        
        height: 65vw;
    }
    .size-1 .member-img img{
        width: 85vw;    
        height: 85vw;
        transform: translate(-10vw, -10vw);
    }

    .size-4-member-1{
        top: 0px;
        left: 40vw
    }
    .size-4-member-2{
        top: 250px;
        left: 23vw
    }
    .size-4-member-3{
        top: 120px;
        right: 40vw
    }
    .size-4-member-4{
        top: 100px;
        right: 20vw
    }

    .size-3-member-1{
        top: 150px;
        left: 30px
    }
    .size-3-member-2{
        bottom: 0px;
        right: 25px;
    }
    .size-3-member-3{
        top: 100px;
        right: 20px
    }

    .size-2-member-1{
        top: 100px;
        left: 20px;
    }
    .size-2-member-2{
        bottom: 0px;
        right: 20px;
    }
}