.arrow{
        cursor: pointer;
        width: 50px !important;
        height: 50px !important;
}

.light-theme .arrow{
    color: #0074a2 !important;
}

.dark-theme .arrow{
    color: #fff;
}

.slick-next{
    right: -70px;
}

.slick-prev{
    left: -70px;
}

.members-arrow{
    position: absolute;
    right: 0px !important;
}

.arrow-faces{
    position:absolute;
    width: 200px !important;
    height: 10vh !important;
    top: 70vh;
    right: 0px !important;
}

@media screen and ( max-device-width: 1500px ) {

    .arrow-faces{
        top: 650px;
    }

}

@media screen and ( max-device-width: 1100px ) {

    .arrow-faces{
        width: 200px !important;
        height: 10vh !important;
        top: 550px;
        right: 0px !important;
    }
}

@media screen and ( max-device-width: 800px ) {
    .arrow-faces{
        top: 400px;
        width: 40px !important;
    }
    .arrow{
        width: 20px;
    }
}
