.arrow{
        cursor: pointer;
        color: #0074a2 !important;
        width: 50px !important;
        height: 50px !important;
        font-size: 100px !important;
}

.slick-next{
    right: -70px;
}

.slick-prev{
    left: -70px;
}

.members-arrow{
    position: absolute;
    right: 30px;
}

.arrow-faces{
    position:absolute;
    width: 20vw !important;
    height: 10vh !important;
    top: 80vh;
}