.btn{
    border-radius: 50px;
    padding: 5px 30px;
}

.light-theme .btn{
    background-color: #14739F;
    color: #fff;
}

.dark-theme .btn{
    background-color: #ffffff;
    color: #000000;
}

.btn:hover{
    background-color: #0095ff;
}

.btn-services{
    background-color: rgb(255, 255, 255, 0);
    border-radius: 50px;
    padding: 2px 30px;
}

.btn-cv{
    width: 40px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    background-color: #14739F;
    color: #fff;
    border-radius: 0px 50px 50px 0px;
}

.btn-close{
    position: absolute;
    right: 30px;
    top: 30px;
}

@media screen and ( max-device-width: 1000px ) {
    .btn{
        width: 150px;
        font-size: 15px !important;
    }
}